@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;800;900&display=swap');

$notosans: 'Noto Sans', sans-serif;

$maincolor:  rgb(31, 97, 75);
$secondarycolor:  white; 