@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.size{
    height: 90vh;
    width: 100%;
}

    .imagenPrincipal1 {
        background-image: url(../img/oscar.jpg);
        height: 90vh;
        animation-name: prueba;
            }
    
    
    .imagenPrincipal2 {
        background-image: url(../img/Exiitos2.jpg);
        height: 90vh;
                    }
    
    .imagenPrincipal3 {
        background-image: url(../img/familia156925aaa.jpg);
            height: 90vh;
        }

    .btn-primary{
        background: rgb(31, 97, 75);
        border: 0;
    }
    
    .prueba{
        height: 230px;
        width: 415px;
        background:url(../img/aaaaaaaaaaaa.jpg);
        animation-name: una;
        animation-duration: 5s
    }

    @keyframes una{
        0% {background: url(../img/Exiitos2.jpg); left: 0; top: 0px;}
        50%{background: url(../img/rose.jpeg); left: 300px; top: 200px;}
        100% {background-image: url(../img/exitos2.jpg);left: 300px; top: 300px }                    








































.pie {
    background-color: rgb(31, 97, 75);
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content:space-around;
}