@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
*::selection {
    background-color: rgb(31, 97, 75);
    color:white;

}

.size{
    height: 90vh;
    width: 100%;
}

    .btn-primary{
        background: rgb(31, 97, 75);
        border: 0;
    }
    
    .bibliografia-animacion{
        height: 230px;
        width: 415px;
        background:url(../img/oscarani.jpg);
        animation-name: bibliografia;
        animation-duration: 6s
    }

    @keyframes bibliografia{
        0% {background: url(../img/images\ \(1\).jpg); left: 0; top: 0px;}
        50%{background: url(../img/cxzczxczx.jpg); left: 300px; top: 200px;}
        100% {background-image: url(../img/images.jpg);left: 300px; top: 300px }                    
    }
    .familia-animacion{
        height: 230px;
        width: 415px;
        background:url(../img/aaaaaaaaaaaa.jpg);
        animation-name: familia;
        animation-duration: 6s

    }
    @keyframes familia {
                0% {background: url(../img/descarga.jpg); left: 0; top: 0px;}
        50%{background: url(../img/descarga\ \(3\).jpg); left: 300px; top: 200px;}
        100% {background-image: url(../img/EKXK7YISZZBX5AESHMCPOGF3AQ\ \(1\).jpg);left: 300px; top: 300px }   
    }
    .exitos-animacion{
        height: 230px;
        width: 415px;
        background:url(../img/Exiitos2.jpg);
        animation-name: exitos;
        animation-duration: 6s
        
    }
    @keyframes exitos{
        0% {background: url(../img/Exiitos12.jpg); left: 0; top: 0px;}
        50%{background: url(../img/images11.jpg); left: 300px; top: 200px;}
        100% {background-image: url(../img/will\ smith\ especial\ warner\ channel.jpg);left: 300px; top: 300px }   
    }









.pie {
    background-color: rgb(31, 97, 75);
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content:space-around;
}